<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristiansofthouse.tabutest">

    <application>
        <activity
            android:name=".MythActivity"
            android:theme="@style/Theme.Prostatapp"
            android:exported="false" />
        <activity
            android:name=".MythsAboutMeActivity"
            android:theme="@style/Theme.Prostatapp"
            android:exported="false" />
        <activity
            android:name=".TabuTestActivity"
            android:theme="@style/Theme.Prostatapp"
            android:exported="false" />
    </application>

</manifest>